:root {
  --rojo: #e50914;
  --fondo: #141414;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--fondo);
  font-family: "Open Sans", sans-serif;
}
/*header*/
.contenedor {
  width: 90%;
  margin: auto;
}

header {
  padding: 30px 0;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

header .logotipo {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  color: var(--rojo);
  font-size: 40px;
}
header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}
header nav a:hover,
header nav a.activo {
  color: #fff;
}
/*Titulos y texto*/
.cartelera-detalles h1 {
  padding-left: 40px;
  color: var(--rojo);
  font-size: 30px;
  margin: 15px 20px 20px;
  overflow: auto;
}
.info-item {
  text-align: left;
  padding-left: 40px;
}
img {
  height: 245px;
  width: 180px;
  float: right;
  position: relative;
  margin-right: 60px;
  margin-bottom: 15px;
}
h2 {
  margin-left: 20px;
  color: #fff;
}
.cartelera-datos {
  padding-left: 40px;
  margin-right: 20px;
  color: #fff;
  position: relative;
  overflow: auto;
}
p {
  margin-left: 20px;
  margin-right: 20px;
  color: #aaa;
}
/*Botones*/
.boton-opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
}
.boton-opciones button {
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: #ca1818;
  border-radius: 6px;
  border: 2px solid #ca1818;
}
footer {
  width: 100%;
  bottom: 20px;
  position: absolute;
  text-align: center;
}
